

name: onefilelijnux

on:
  push:
    branches: 
      - master
  # schedule:
  #   - cron: 0 20 * * *
  # release:
  #   types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: master

      - name: onefile linux
        run: |
         mknod -m 600 alpine-minirootfs/dev/console c 5 1 
         sudo chroot alpine-minirootfs /bin/ash
         sudo ./build.sh
       
      - name: Upload uefi
        uses: actions/upload-artifact@master
        with:
          name: onefilelinux
          path: ./onefilelinux/


